<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head (title)" >
    <meta charset="UTF-8">
    <title th:text="${title}">All Posts</title>

</head>
<body>
<nav th:replace="partials/partials.html :: bootstrap-nav"></nav>




<div class="rowA">
    <div class="column" th:each="post : ${posts}">
        <div class="card">
            <span th:text="${post.body}"></span>
            <span th:text="${post.title}"></span>
        </div>
    </div>
</div>


<footer th:replace="partials/partials.html :: bootstrap-footer"></footer>

</body>
</html>