<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Create A Post')" >
    <meta charset="UTF-8">
    <title th:text="${title}">Spring Blog</title>
</head>
<body>
<nav th:replace="partials/partials.html :: bootstrap-nav"></nav>


<fieldset class="postMiddleForm">
    <legend th:replace="partials/partials.html :: bootstrap-jumbotron"></legend>
    <form th:action="@{/posts/new}" th:method="post" th:object="${post}">
        <label for="body">Write your Post:</label>
        <input type="text" id="body" name="body" th:field="*{body}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}">
        <input type="submit" value="submit">
    </form>
</fieldset>

<footer th:replace="partials/partials.html :: bootstrap-footer"></footer>

</body>
</html>
