<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your post</title>
</head>
<body>
<nav th:replace="partials/partials.html :: bootstrap-nav"></nav>


<h1>Edit</h1>
<fieldset class="postMiddleForm">
    <legend th:replace="partials/partials.html :: bootstrap-jumbotron"></legend>
    <form th:action="@{|/posts/${post.id}/edit|}" method="post" th:object="${post}">
        <label for="body">Write your Post:</label>
        <input type="text" id="body" name="body" th:field="*{body}">
        <input type="hidden" id="user" name="user" th:field="*{user.id}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}">

        <input type="submit" value="submit">
    </form>
</fieldset>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>