#navb{
    display: flex;
    justify-content: center;
}


.postMiddleForm {
    display: grid;
    place-content: center;
}


.centerText {
    display: flex;
    justify-content: center;
}

.centerForm {
    display: flex;
    justify-content: center;
}

#logout {
    background-color: white;
    color: black;
    border: none;

}