<!DOCTYPE html>
<!--This makes thymeleaf available it goes inside the html tag-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
  <h1>Coffee!</h1>
<!--  using th unless removes h2 if you select a roast and if you dont it will be there-->
  <h2 th:unless="${roast}">Select your favored roast:</h2>

<!--  th if - if it exist then put roast at the end -->
  <h2 th:if="${roast}">You selected: <span th:text="${roast}"></span> roast!</h2>
  <!-- We can make conditionals also -->
  <div th:if="${roast}">
      <p th:if="${roast} == 'dark'"> We have an excellent dark roast for you!</p>
  </div>

  <ul>
      <li><a href="/coffee/dark">Dark Roast</a></li>
      <li><a href="/coffee/medium">Medium Roast</a></li>
      <li><a href="/coffee/light">Light Roast</a></li>
  </ul>


  <div>
      <p>Want to sign up for our newsletter? Enter your email!</p>
      <form action="/coffee" method="post">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
          <button type="submit">Sign up</button>
      </form>
  </div>
    <p th:if="${email}">Thanks for signing up! We will send the newsletter to <span th:text="${email}"></span>!</p>


</body>
</html>