<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<!--Using partial navbar-->
<nav th:replace="partials/navbar.html :: bootstrap-nav"></nav>

<header th:replace="partials/header.html :: bootstrap-header"></header>


<ul>
    <li><a href="/roll-dice/1">1</a></li>
    <li><a href="/roll-dice/2">2</a></li>
    <li><a href="/roll-dice/3">3</a></li>
    <li><a href="/roll-dice/4">4</a></li>
    <li><a href="/roll-dice/5">5</a></li>
    <li><a href="/roll-dice/6">6</a></li>
</ul>

<div th:if="${numberChosen}">
<p>The number was <span th:text="${randomNum}"></span></p>
<p>The number you chose <span th:text="${numberChosen}"></span></p>

    <p th:if="${numberChosen == randomNum}"> Congrats! You Win</p>
    <p th:if="${numberChosen != randomNum}"> NO! You Lose</p>
</div>

<!--Using partial footer-->
<footer th:replace="partials/footer.html :: bootstrap-footer"></footer>

</body>
</html>